{port_sources, ["c_src/*.c"]}.
{so_specs, [{"priv/gen_http_drv.so", ["c_src/gen_http.o", "c_src/http_hash.o", "c_src/http_handling.o", "c_src/driver_cache.o", "c_src/http_parser.o"]}]}.
{port_envs, [
  {".*", "CFLAGS", "$CFLAGS -Ic_src -Wall -O2"}
]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{deps, [
	{proper, ".*", {git, "git://github.com/manopapad/proper.git", "master"}}
]}.
